name: Continuous Integration
permissions: read-all

on:
  pull_request:
    branches:
      - main
      - devs/**

jobs:
  test:
    name: "Test with Python ${{ matrix.python-version }}"
    timeout-minutes: 5
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v6.0.0
      - uses: actions/setup-python@v6.0.0
        with:
          python-version: "${{ matrix.python-version }}"
      - run: |
          pip install -r requirements-poetry.txt
          poetry sync
          poetry run poe linters
          poetry run poe test
          poetry build
  semgrep:
    timeout-minutes: 20
    runs-on: ubuntu-24.04
    container:
      image: semgrep/semgrep:1.138.0
    steps:
      - uses: actions/checkout@v6.0.0
      - run: tools/semgrep
