name: Upload release to PyPI
on:
  workflow_dispatch:

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v4.1.6
      - uses: actions/setup-python@v5.1.0
        with:
          python-version: ">=3.12"
      - name: Get version
        run: |
          echo "version=$(poetry version --short)" >> "$GITHUB_ENV"
      - run: |
          git tag $version
          git push origin $version
          pip install -r requirements-poetry.txt
          poetry self add poetry-version-plugin
          poetry install --sync
          poetry build
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
