name: Upload release to PyPI
on:
  release:
    types:
      - published

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v5.0.1
      - uses: actions/setup-python@v6.0.0
        with:
          python-version: 3.12
      - run: |
          pip install -r requirements-poetry.txt
          poetry sync
          poetry build
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
