name: Upload release to PyPI
on:
  workflow_dispatch:

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v4.2.2
      - uses: actions/setup-python@v5.4.0
        with:
          python-version: ">=3.13"
      - run: |
          pip install -r requirements-poetry.txt
          git tag $(poetry version --short)
          git push origin $(poetry version --short)
          poetry self add poetry-version-plugin
          poetry sync
          poetry build
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
